body {
	margin: 0; 
	font-family: $mainFont;
}

h1 {
	font-size: 40px;
	font-weight: 600;
	line-height: 51px;
	color: #fff;
	margin: 0;
}

h2 {
	font-size: 34px;
	font-weight: 600;
	color: #fff;
	margin-top: 0px;
}

h3 {
	font-size: 30px;
	font-weight: 400;
	color: #005aa9;
}

p,a {
	font-size: 16px;
}

.container {
	width: $containerWidth;
	margin: 0 auto;
}

.header {
	min-height: 515px;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .header-bar {
    	padding-top: 40px;
    }
}

.button, .active a {
	border-radius: 10px;
	border: 2px solid #fff;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
	color: #fff;
	&.green {
		border-color: $mainGreen;
		&.solid {
			background-color: $mainGreen;
		}
	}
}


.logo-wrap {
	float: left;
	.logo {
		max-width: 235px;
	}
}

.nav-menu-wrap {
	float: right;
	ul {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-right: 30px;
			&:last-child {
				margin-right: 0px;
			}
		}
	}
}

li {
	a {
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.clearfix {
	clear: both;
}

.third {
	width: 33%;
}