#home-header {
	background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%),url(../images/banner-home.jpg);
	padding-bottom: 200px;
	.banner-content {
		.text-wrap {
			margin-top: 170px;
			padding: 30px 40px 50px 40px;
			box-sizing: border-box;
			max-width: 680px;
			border: 2px #fff solid;
			border-radius: 10px;
			h1 {
				margin-bottom: 35px;
			}
		}
	}
}
#innovative {
	background-color: $mainGreen;
	padding-top: 40px;
	padding-bottom: 40px;
	.innovative-third {
		display: inline-block;
		text-align: center;
		box-sizing: border-box;
		padding-left: 55px;
		padding-right: 55px;
		&:nth-child(2) {
			border-left: 1px #fff solid;
			border-right: 1px #fff solid;
		}
		p {
			color: #fff;
		}
	}
}
#values {
	h3 {
		text-align: center;
	}
	#values-boxes-wrap {
		width: 100%;
		.values-items {
			list-style-type: none;
			padding: 0;

			li {
				display: inline-block;
				color: $plain_text_color;
				float: left;
				.values-box {
					.image-wrap {
						text-align: center;
						width: 100%;
						img {
							max-width: 90px;
							max-height: 95px;
							width: 100%;
							height: 100%;
							padding: 20px;
						}
					}
					.text-wrap {
						text-align: center;
						width: 100%;
						float: left;
						height: 50%;
						padding-top: 20px;
						p {
							width: 150px;
							font-size: 20px;
							margin: 0 auto;
						}
					}
					height: 235px;
					width: 235px;
					border: 2px solid rgb(243,243,243);
					border-radius: 15px;
					margin: 20px;

				}
			}
		}
	}
}